@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
 .hero {
	 background:linear-gradient(to top,rgb(88, 82, 82),rgb(9, 16, 17));
	 position: relative;
	 height: 100vh;
	 overflow: hidden;
	 font-family: 'Montserrat', sans-serif;
}
 .hero__title {
	 color: #FFFFFF;
	 position: absolute;
	 top: 55%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 z-index: 1;
	 text-align: center;
	 display: grid;
}

 .hero__title > p{
	margin: 14px;
    font-size: 40px;
	letter-spacing: 4px;
 }
 
 .hero__title > p:nth-child(1){
	 font-size: 25px;
	 white-space: nowrap;
 }

 .hero__title > p:nth-child(2){
	font-size: 20px ;
	line-height: 28px;
 }
 .cube {
	 position: absolute;
	 top: 80vh;
	 left: 45vw;
	 width: 10px;
	 height: 10px;
	 border: solid 1px #ffffff;
	 transform-origin: top right;
	 border-radius: 100px;
	 transform: scale(0) rotate(0deg) translate(-50%, -50%);
	 animation: cube 5s ease-in forwards infinite;
}
 .cube:nth-child(2n) {
	 border-color: #f5f3f3;
}
 .cube:nth-child(2) {
	 animation-delay: 5s;
	 left: 25vw;
	 top: 40vh;
	 color: rgb(255, 255, 255);
}
 .cube:nth-child(3) {
	 animation-delay: 8s;
	 left: 75vw;
	 top: 50vh;
}
 .cube:nth-child(4) {
	 animation-delay: 6s;
	 left: 90vw;
	 top: 10vh;
}
 .cube:nth-child(5) {
	 animation-delay: 8s;
	 left: 10vw;
	 top: 85vh;
}
 .cube:nth-child(6) {
	 animation-delay: 10s;
	 left: 50vw;
	 top: 10vh;
}
 @keyframes cube {
	 from {
		 transform: scale(0) rotate(0deg) translate(-50%, -50%);
		 opacity: 1;
	}
	 to {
		 transform: scale(20) rotate(960deg) translate(-50%, -50%);
		 opacity: 0;
	}
}

/* button styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 22px;
	margin-bottom: 0;
    height: 55px;
    text-align:center;
    border: none;
	border-radius: 5px;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	transform: scale(1.15);
	 
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #fbfcff, #000000, #4a404d, #ede1f7);
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}

@media(max-width:1023px){
	.btn-hover{
		width: 150px;
		height: 40px;
		font-size: 14px;
		font-weight: 500;
	}
	.hero__title> p:nth-child(1){
		font-size: 17px;
    	white-space: normal; 
	}
	.hero__title > p:nth-child(2){
		font-size: 12px;
		white-space: nowrap;
		line-height: 17px;
	}
}
.reg{
	color: black;
}